body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Kanit;
}
header{
    background-color: rgba(0, 42, 255, 0.186);
    height: 95%;
    width: 95%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-general{
    background-color: white;
    width: 40%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.img{
    display: flex;
    width: 200px;
    justify-content: end;
    margin: 0;
}
img{
    width: 50px;
    margin: 0;
}
h1{
    margin: 0;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
}
h3{
    font-size: 0.9em;
    text-align: start;
    margin: 0;
    margin-top: 15px;
    width: 80%;
}
p{
    font-size: 0.5em;
    text-align: start;
    width: 80%;
}
form{
    width: 80%;
    margin: 0;
    padding: 0;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid rgba(0, 0, 0, 0.089);
}
label{
    font-size: 0.6em;
}
.input{
    width: 100%;
}
input{
    width: 98%;
}
.boton{
    width: 100%;
    margin-top: 18px;
}
button{
    width: 100%;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
button:hover{
    background-color: rgb(121, 150, 255);
}
.texto-form{
    width: 80%;
}
.texto-form p{
    width: 100%;
    text-align: center;
}
p strong{
    font-weight: bold;
    fon
}